
# Add any additional pip/conda packages here. Included packages
# are those listed in jupyter/docker-stacks/datascience-notebook

chart-studio==1.1
dash==1.12
ipywidgets==7.5
jupyter-contrib-nbextensions==0.5
plotly==4.7.1
plotly-charts==0.5
plotly-geo==1.0
yellowbrick==1.1
widgetsnbextension
psycopg2-binary==2.8.5