node_modules
*~
*.py[co]
.cache
.coverage
.coverage.*
.DS_Store
*.egg-info
.env
.idea/
*.ipynb
.ipynb_checkpoints
*.pid
.pytest_cache
*.retry
.vim/
.vscode
hosts.*

dist
docs/_build
docs/build
docs/source/_static/rest-api
grades-sender.lock
hosts
htmlcov
jupyterhub_cookie_secret
jupyterhub.sqlite
*.sqlite3
MANIFEST
pip-wheel-metadata
*pycache*
.secrets
secrets
.secrets
share/jupyterhub/static/components
share/jupyterhub/static/css/style.min.css
share/jupyterhub/static/css/style.min.css.map
src/build*
venv
