node_modules
.vscode
*.py[co]
*~
.cache
.DS_Store
/build
dist
docs/_build
docs/build
docs/source/_static/rest-api
.ipynb_checkpoints
jupyterhub_cookie_secret
jupyterhub.sqlite
package-lock.json
secrets
share/jupyterhub/static/components
share/jupyterhub/static/css/style.min.css
share/jupyterhub/static/css/style.min.css.map
*.egg-info
MANIFEST
.coverage
.coverage.*
htmlcov
.idea/
.vim/
.pytest_cache
pip-wheel-metadata
*hosts
hosts
.env
*.ipynb
venv
*.retry