black==19.10b0
codecov==2.0.22
coverage==5.1
dockerspawner==0.11.1
flake8==3.7.9
git+git://github.com/jupyterhub/jupyterhub.git@22f86ad76c437d37bc26c28d9fecfa5457ef5974
jupyterhub-ltiauthenticator==0.4.0
mock==4.0.2
nbgrader==0.6.1
pre-commit==2.3.0
pytest==5.4.1
pytest-asyncio==0.12.0
pytest-cov==2.8.1
pytest-html==2.1.1
pytest-metadata==1.9.0
pytest-mock==3.1.0
requests==2.23.0