black
codecov
coverage
flake8
flask
flask-sqlalchemy
gunicorn
isort
kubernetes
mock
pip-tools
pytest
pre-commit
pykube
pytest-cov
pytest-asyncio
pytest-flask
pytest-html
pytest-metadata
pytest-mock
requests
requests-mock
