---
- name: pull base illumidesk/base-notebook image
  docker_image:
    name: "{{ docker_illumidesk_notebook_base_image }}"
    source: pull

- name: pull base illumidesk/instructor-notebook image
  docker_image:
    name: "{{ docker_illumidesk_notebook_instructor_image }}"
    source: pull

- name: pull base illumidesk/learner-notebook image
  docker_image:
    name: "{{ docker_illumidesk_notebook_learner_image }}"
    source: pull

- name: pull base illumidesk/grader-notebook image
  docker_image:
    name: "{{ docker_illumidesk_notebook_grader_image }}"
    source: pull

- name: pull base illumidesk/rstudio image
  docker_image:
    name: "{{ docker_illumidesk_notebook_rstudio_image }}"
    source: pull

- name: pull base illumidesk/theia image
  docker_image:
    name: "{{ docker_illumidesk_notebook_theia_image }}"
    source: pull

- name: pull base illumidesk/vscode image
  docker_image:
    name: "{{ docker_illumidesk_notebook_vscode_image }}"
    source: pull
