all:
  hosts:
    illumidesk:
      ## Required settings
      #-------------------
      # IPv4 host address
      ansible_host: 127.0.0.1

      # IPv4 host address
      ansible_port: 22

      # IPv4 host address
      ansible_user: root

      # IPv4 host address
      ansible_ssh_private_key_file: /path/to/my/key/file

      # uncomment and add a password only if your remote instance uses userid/password 
      # for SSH authentication
      # ansible_password: my-secret-password

      ## (Optional) Endpoint/namespace settings
      #-------------------
      # uncomment to add your organization name, defaults to my-org.
      # org_name: my-org

      # uncomment to add top level domain, such as example.com
      # tld: example.com

      # uncomment to add your custom course name, such as finance101
      # course_id: intro101

      # uncomment to start a container within the docker-compose network which allows
      # users to connect to a shared postgres container (useful for lab environments)
      # postgres_labs_enabled: true

      ## NFS/EFS settings
      # uncomment and set to true to enable mounts with aws efs, defaults to false
      # aws_efs_enabled: true

      # uncomment and specify the efs id for your AWS EFS service, defaults to an empty string
      # efs_id:

      # uncomment and confirm your aws region, defaults to us-west-2
      # aws_region: us-west-2

      # uncomment and set mount directory a subdirectory within the /mnt directory, such as
      # /mnt/efs/fs1, to reduce the risk of overwriting content that may already exist in /mnt
      # mnt_root: /mnt/efs/fs1

      ## Authentication settings
      #-------------------

      # Notes: 
      #   the first use authenticator is set to true by defaut.
      #   lti11_enabled and lti13_enabled are mutually exclusive, therefore
      #   set one to true to enable the desired lti auth standard.

      ### LTI 1.1
      #-------------------

      # set to true to use LTI 1.1. If true, set lti13_enabled to false.
      # lti11_enabled: false

      # lti 1.1 consumer key, by default this is set dynamically. add
      # own value to override setting. we recommend using the openssl
      # command to create secure strings: e.g. `openssl rand -hex 16` 
      # lti11_consumer_key:

      # lti 1.1 shared secret, by default set dynamically. set to at 
      # least 32 random bytes: e.g. `openssl rand -hex 32`
      # lti11_shared_secret:

      ### LTI 1.3
      #-------------------
      
      # set to true to use LTI 1.3. If true, set lti11_enabled to false.
      # lti13_enabled: false
      
      # private key path and file name (pem)
      # lti13_private_key: /secrets/keys/rsa_private.pem

      # the client id which represents the tools installation on the platform. the
      # example below is an example clint id displayed by the details column in developer
      # keys from the canvas lms.
      # lti13_client_id: 125900000000000001
      
      # lti 1.3 urls/endpoints, the ones provided below are example endpoints
      # used with the canvas lms.
      # lti13_private_key: /secrets/keys/rsa_private.pem
      # lti13_endpoint: https://illumidesk.instructure.com/api/lti/security/jwks
      # lti13_token_url: https://illumidesk.instructure.com/login/oauth2/token
      # lti13_authorize_url: https://illumidesk.instructure.com/api/lti/authorize_redirect
