# jupyterhub
jupyterhub>=1.1.0

# postgres
psycopg2-binary==2.8.5

# nbgrader
nbgrader==0.6.1

# traefik (reverse proxy)
jupyterhub-traefik-proxy==0.1.6

# Authenticators
jupyterhub-firstuseauthenticator==0.12
jupyterhub-ltiauthenticator==0.4.0
oauthenticator==0.11.0

# Spawners
dockerspawner==0.11.1

# Setup course service
quart==0.11.5

# Utils
filelock==3.0.12
josepy==1.3.0
pem==20.1.0
pycryptodome==3.9.7
pyjwkest==1.4.2
PyJWT==1.7.1
pylti==0.7.0

# Cull idle servers
jupyterhub-idle-culler==1.0
