# postgres
psycopg2-binary==2.8.5

# nbgrader
nbgrader==0.6.1

# traefik (reverse proxy)
jupyterhub-traefik-proxy==0.1.5

# Authenticators
jupyterhub-firstuseauthenticator==0.12
jupyterhub-ltiauthenticator==0.4.0
oauthenticator==0.11.0

# Spawners
dockerspawner==0.11.1

# Utils
PyJWT==1.7.1
josepy==1.3.0