version: "3.5"

services:
  jupyterhub:
    restart: on-failure
    image: {{docker_illumidesk_jhub_image}}
    container_name: jupyterhub
    depends_on:
      - reverse-proxy
      - jupyterhub-db
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - {{mnt_root}}/{{org_name}}/home:/home
      - data:/data
    env_file:
      - env.jhub
    command: >
      jupyterhub -f /etc/jupyterhub/jupyterhub_config.py --debug
  jupyterhub-db:
    image: postgres:11.6-alpine
    container_name: jupyterhub-db
    restart: always
    env_file:
      - env.jhub
    volumes:
      - db:/var/lib/postgresql/data
  reverse-proxy:
    restart: on-failure
    image: jupyterhub/configurable-http-proxy:4.2.0
    container_name: reverse-proxy
    ports:
      - 8000:8000
    environment:
      - CONFIGURABLE_HTTP_PROXY={{config_auth_proxy_token}}
    command: >
      configurable-http-proxy
      --port 8000
      --api-ip 0.0.0.0
      --api-port 8001
      --default-target=http://jupyterhub:8081
      --error-target=http://jupyterhub:8081/hub/error
  {{course_id}}:
    restart: on-failure
    image: {{docker_illumidesk_notebook_grader_image}}
    container_name: {{course_id}}
    user: root
    volumes:
      - {{mnt_root}}/{{org_name}}/home/grader-{{course_id}}:/home/grader-{{course_id}}
      - {{mnt_root}}/{{org_name}}/exchange:/srv/nbgrader/exchange
    env_file:
      - env.service
    command: >
      start-notebook.sh --group=formgrade-{{course_id}} --allow-root

volumes:
  data:
    external:
      name: jupyterhub-data
  db:
    external:
      name: db-data
  
networks:
  default:
    external:
      name: jupyter-network
