version: "3.5"

services:
  jupyterhub:
    restart: on-failure
    image: {{docker_illumidesk_jhub_image}}
    depends_on:
      - reverse-proxy
      - jupyterhub-db
      - setup-course
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - {{mnt_root}}/{{org_name}}/home:/home
      - {{mnt_root}}/{{org_name}}/shared:/shared
      - data:/data
      - ./reverse-proxy:/etc/traefik
      - ./keys:/secrets/keys
    env_file:
      - env.common
      - env.jhub
    command: >
      jupyterhub -f /etc/jupyterhub/jupyterhub_config.py --debug
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jhub_router.service=jupyterhub"
  jupyterhub-db:
    image: {{docker_postgres_image}}
    container_name: jupyterhub-db
    restart: always
    env_file:
      - env.jhub
    volumes:
      - db:{{pg_data}}
  reverse-proxy:
    image: traefik:v1.7-alpine
    container_name: reverse-proxy
    ports:
      - "8000:8000"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./reverse-proxy/:/etc/traefik/
      - /var/run/docker.sock:/var/run/docker.sock
    restart: on-failure
  setup-course:
    restart: on-failure
    image: {{docker_setup_course_image}}
    container_name: setup-course
    command: hypercorn --bind 0.0.0.0:8000 --workers 1 illumidesk.setup_course.app:app
    env_file:
      - env.common
      - env.setup_course
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - {{mnt_root}}:{{mnt_root}}
      - data:/srv/jupyterhub
      - {{ working_dir }}:{{ working_dir }}
{% if 'rds.amazonaws.com' not in postgres_nbgrader_host%}
  {{postgres_nbgrader_host}}:
    image: {{docker_postgres_image}}
    container_name: {{postgres_nbgrader_host}}
    restart: always
    env_file:
      - env.common
    volumes:
      - db-nbgrader:{{pg_data}}
{% endif %}
{% if postgres_labs_enabled is sameas true %}
  {{postgres_labs_host}}:
    image: {{docker_postgres_image}}
    container_name: {{postgres_labs_host}}
    restart: always
    environment:
      - POSTGRES_LABS_DB={{postgres_labs_db}}
      - POSTGRES_LABS_USER={{postgres_labs_user}}
      - POSTGRES_LABS_PASSWORD={{postgres_labs_password}}
    volumes:
      - db-labs:{{pg_data}}
{% endif %}

volumes:
  data:
    external:
      name: jupyterhub-data
  db:
    external:
      name: db-data
  db-labs:
    external:
      name: db-labs-data
  db-nbgrader:
    external:
      name: db-nbgrader-data
  
networks:
  default:
    external:
      name: jupyter-network
